body {
}

.header-content {
  position: absolute;
  top: 0%;
  margin-top: 40px;
  left: 20%;
  width: 60%;
  /* transform: translate(-50%, -50%); */
}

.medium-spacing {
    margin-top: 130px;
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
}

.img-bkg {
  /* background-image: url("../img/bg-home.png"); */
  background-color: rgba(71, 153, 255);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width:100%;
}

p {
  white-space: pre-line;
}

.company-expertise img {
    width: 90px;
    height: auto;
}

.company-expertise p:nth-of-type(1n) {
    font-size: 28px;
    font-family: Lato, sans-serifsans-serif;
    color: rgba(71, 153, 255);
    font-weight: bold;
}

.company-expertise p:nth-of-type(2n)  {
    font-size: 16px;
    font-family: Lato, sans-serifsans-serif;
    color:rgb(182, 182, 182);
}

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  top: 0;
  padding: 40px 30px 0;
  height: 60px;
}

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  font-family: Lato, sans-serifsans-serif;
  background-color: tomato;
  color: white;
  padding: 0;
}

.menu a {
  color: white;
}

.menu li {
  display: inline-block;
  margin-right: 2%;
}

.logo {
  width: 160px;
  height: auto;
  position: absolute;
}

.meet-devninjas {
  color: white;
  font-size: 30px;
}

.meet-devninjas-button {
  font-size: 15px;
  color: white;
  border-radius: 15px;
  border: 1px solid white;
  width: 180px;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  margin: 30px 0 0px;
}

.devninjas-highlight {
  color: yellow;
}

.devninjas-team {
  width: 600px;
  height: auto;
  background-size: contain;
}

.here-we-create {
  font-size: 20px;
  font-family: Lato, sans-serifsans-serif;
  color: rgba(71, 153, 255);
  font-weight: bold;
}

.devninjas-area-img {
  width: auto;
  height: 50px;
}

/* Processo de Desenvolvimento */
.dev-process {
    text-align: center;
    background-color: rgb(248, 248, 239);
    width: 100%;
    /* height: 1800px; */
    padding-top:2%;
    margin: auto;
}

.header-section {
    margin: 5% 0 5% 0;
}

.dev-process h2 {
    
    font-size: 20px;
    font-family: Lato, sans-serifsans-serif;
    color: rgba(71, 153, 255);
    font-weight: bold;
}

.dev-process-card-group {
    width: 60%;
    margin: auto;
}

.dev-process-card {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    height: 400px;
    border-radius: 10px;
    text-align: left;
    position:relative;
    /* padding-left: 12%; */
}

.dev-process-content {
    position: absolute;
    padding-left: 12%;
    top: -11%;
}

.dev-process-img {
    width: auto;
    height: 90px;
}

.dev-process-card h3 {
    font-size: 20px;
}

:root {
    --colorIdeia: rgb(231, 167, 49);
    --colorWireframe: rgba(71, 153, 255);
    --colorDesign: rgb(207, 96, 22);
  }

.ideia-txt {
    color: var(--colorIdeia);
    font-weight: bold;
}

.wireframe-txt {
    color: var(--colorWireframe);
    font-weight: bold;
}

.design-txt {
    color: var(--colorDesign);
    font-weight: bold;
}

.dev-process-card p {
    font-size: 16px;
    font-family: Lato, sans-serifsans-serif;
    color:rgb(182, 182, 182);
}

.line {
    width:17%;
    height: 1%;
    border-bottom: 3px solid;
    position: absolute;
}

.color-line-ideia {
    border-bottom-color : var(--colorIdeia);
}

.color-line-wireframe {
    border-bottom-color : var(--colorWireframe);
}

.color-line-design {
    border-bottom-color : var(--colorDesign);
}

.leave-it-with-devninjas {
  position: relative;
  top: 0;
  left: 0;
}


.img-blue {
  background-repeat: no-repeat;
  background-size: 100% auto;
  width:100%;
  height: 900px; 
}

.leave-it-with-devninjas-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  font-family: Lato, sans-serifsans-serif;
  color: rgba(255, 255, 255);
  font-weight: bold;
}

.help-companies-container {
  width: 60%;
}

.help-companies {
  font-size: 10px;
  font-family: Lato, sans-serifsans-serif;
  color: rgba(71, 153, 255);
  font-weight: bold;
}

.help-companies img {
  width: 120px;
  height: auto;
}

.help-companies p:nth-of-type(1n) {
  font-size: 20px;
  font-family: Lato, sans-serifsans-serif;
  color: rgba(71, 153, 255);
  font-weight: bold;
}

.help-companies p:nth-of-type(2n)  {
  font-size: 16px;
  font-family: Lato, sans-serifsans-serif;
  color:rgb(182, 182, 182);
}

.know-more-about-project {
  font-size: 28px;
  font-family: Lato, sans-serifsans-serif;
  color: rgba(71, 153, 255);
  font-weight: bold;
  text-align: center;
}

.small-form-container {
  background-color: rgba(71, 153, 255);
  width:60%;
  margin: auto;
  border-radius: 20px;
  padding: 1%;
  text-align:center;
}

.small-form-container p {
  text-align: center;
  font-size:20px;
  color:rgba(255, 255, 255);
  font-weight: bold;
  margin-bottom:5%;
}

.small-form-container.row {
  margin-bottom:2%;
}

.form-label {
  color: white;
}

.small-form-bkg {
  width: 60%;
  margin: auto;
}

.form-disabled {
  opacity:0.5;
}

.large-form-container {

}

.small-form-container input {
  border-radius: 30px;
  border: 1px solid white;
  color: rgba(71, 153, 255);
  background-color: white;
  padding-left: 2em;
  width: 80%;
}

.small-form-container textarea {
  border-radius: 30px;
  border: 1px solid white;
  color: rgba(71, 153, 255);
  background-color: white;
  padding-left: 2em;
  height: 120px;
  width: 97%;
}

.small-form-container select {
  border-radius: 30px;
  border: 1px solid white;
  color: rgba(71, 153, 255);
  background-color: white;
  padding-left: 2em;
  width: 97%;
  margin: auto;
}

.send-button {
  border-radius: 30px;
  border: 1px solid  rgba(71, 153, 255);
  color: white;
  height:50px;
  width:300px;
  background-color: rgba(71, 153, 255);
}

.like-us-container {
  position: relative;
  top: 0;
  left: 0;
}

.like-us-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-family: Lato, sans-serifsans-serif;
  color: rgba(255, 255, 255);
}

.like-us {
  font-size:50px;
  font-weight: bold;
  margin-bottom: 10%;
}
.lets-chat {
  font-size:42px;
  font-weight: bold;
  margin-bottom: 2%;
}
.send-an-email {
  font-size:26px;
}

.img-devninjas-color {
  width: auto;
  height: 150px;
  margin-bottom:2%;
}

.contact-devninjas {
  color: rgba(71, 153, 255);
  font-size:26px;
}

.address-devninjas {
  color: rgba(71, 153, 255);
  font-size:20px;
}

.how-are-you-ninjas {
  color: rgba(71, 153, 255);
  font-size:20px;
  font-weight:bold;
}